  /*
    Header
  */
  
  .section__heading--largest {
    float: left;
    font-size: 4rem;
    margin-left: 2rem;
  }
  
  .section--social {
    float: right;
    line-height: 8rem;
    margin-right: 2rem;
  }
  
  .social {
    margin-right: 0.75rem;
  }
  
  .socialWrapper:last-child .social {
    margin-right: 0;
  }
  
  .socialWrapper {
    display: inline-block;
    font-size: 3rem;
  }
