/*
  Modal
*/

.modal--closed {
    display: none;
  }
  
  .modal--open {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  
  .modal__closeButton {
    position: absolute;
    right: 2rem;
    top: 5rem;
    font-size: 4rem;
    z-index: 1;
    cursor: pointer;
  }
  
  .modal__text {
    position: absolute;
    top: 0;
    left: 17%;
    font-size: 2.4rem;
    padding: 2rem;
    width: 66%;
    text-align: center;
  }
  
  .modal__responsibilities {
    background-color: white;
    border-radius: 4px;
    padding: 0.4rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin: auto;
    width: 100%;
    text-align: left;
  }

  .modal__description {
    font-weight: bold;
  }
  
  .modal__image {
    opacity: 0.2;
  }
  