 .color--skyBlue {
    color: rgb(52, 152, 219);
  }
  
  html {
    font-size: 62.5%;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1rem;
  }
  
  /*
    Helpers
  */
  
  .margin--none {
    margin: 0;
  }
  
  .overflow--auto {
    overflow: auto;
  }
  
  /*
    Header
  */
  
  .section__heading--largest {
    float: left;
    font-size: 4rem;
    margin-left: 2rem;
  }
  
  .section--social {
    float: right;
    line-height: 8rem;
    margin-right: 2rem;
  }
  
  .social {
    margin-right: 0.75rem;
  }
  
  .socialWrapper:last-child .social {
    margin-right: 0;
  }
  
  .socialWrapper {
    display: inline-block;
    font-size: 3rem;
  }
